#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg-skygreen {
  background-color: #00b58d;
}
.text-skygreen {
  color: #00b58d;
}

.bg-skyblue {
  background-color: #008b7a;
}
.text-skyblue {
  color: #008b7a;
}

.btn {
  @apply px-2 py-1 text-sm border rounded hover:bg-gray-100;
}


.toolbar-btn {
  @apply text-sm px-2 py-1 rounded hover:bg-gray-100 focus:outline-none transition-all;
}

.toolbar-select {
  @apply text-sm px-2 py-1 border border-gray-300 rounded;
}

.btn-icon {
  @apply inline-flex items-center justify-center w-8 h-8 rounded hover:bg-gray-200 active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-[#26BF64] cursor-pointer;
  user-select: none;
}

.btn-select {
  @apply text-sm px-2 py-1 rounded border border-gray-300 bg-white text-gray-700;
}


.prose ul {
  list-style-type: disc;
  padding-left: 1.25rem; /* 20px */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose li {
  margin-bottom: 0.25rem;
}